@import "../../../node_modules/bootstrap/dist/css/bootstrap.min.css";

.row {
  padding: 10%;
}
.col {
  /* margin: 1px; */
  border: 1px solid rgba(49, 49, 49, 0.204);
  border-radius: 1rem;
}

.p-image {
  background-color: gainsboro;
  color: gainsboro;
}

/* .p-img {
    width: 70%;
} */

.in-stock {
  background-color: green;
}

.out-of-stock {
  background-color: red;
}

.ovlay {
  /* width: 40%;
  border-radius: 10%; */
  text-align: center;
}

